.acoes {
  display: flex;
  justify-content: flex-end
}

.botao-excluir {
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
}

.botao-editar {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.tarefa {
  background-color: #F8F9FE;
  padding: 1rem;
  box-sizing: border-box;
}

.tarefa .conteudo {
  margin: 1rem auto;
  word-wrap: break-word;
}

.tarefa .responsavel {
  word-wrap: break-word;
}

.etapa1 {
  box-shadow: 8px 8px 0px #ff0000;
}

.etapa2 {
  box-shadow: 8px 8px 0px #0044ff;
}

.etapa3 {
  box-shadow: 8px 8px 0px #00ff22;
}

.tarefa-g {
  width: 556px;
}

.tarefa-p {
  width: 262px;
}

@media screen and (max-width: 768px) {
  .tarefa-g {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .tarefa-p {
    width: 100%;
  }
}
